.header{
	font-size: 24px;
	color: #032782;
	background-color: #57B6FF;
}

.schoolcompany{
	font-weight: 700;
	font-size: 18px;
}

body{
	font-family: Helvetica,Garamond;
	background-color: #032782;
	color: white;
}

h1{
	font-size: 28px;
	color: #57B6FF;
	background-color: white;
	border-style: solid;
	border-color: #57B6FF;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.date{
	font-style: italic;
}

a{
	color: white;
}
